@model IEnumerable<HarvestBandFestival.Models.Band>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        @if (!User.Identity.IsAuthenticated)
            {
                <th>
                    @Html.DisplayNameFor(model => model.ImageSource)
                </th>
            }
        <th>
            @Html.DisplayNameFor(model => model.School)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disctrict)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Division)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BandSize)
        </th>
        @if (PermissionsHelper.UserIsContestStaff())
        {
            <th>
                @Html.DisplayNameFor(model => model.PaidStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePaid)
            </th>

        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (!User.Identity.IsAuthenticated)
                {
                    <td>
                        <img width="20" src="@item.ImageSource" />
                    </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.School)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disctrict)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Division)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BandSize)
            </td>
            @if (PermissionsHelper.UserIsContestStaff())
            {
                <td>
                    @Html.DisplayFor(modelItem => item.PaidStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePaid)
                </td>
            }
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                }
                @if (User.Identity.Name == item.PrimaryContact.UserName || PermissionsHelper.UserIsContestStaff())
                {
                    @: | @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                }
                @if (PermissionsHelper.UserIsContestStaff())
                {
                    @: | @Html.ActionLink("Edit Scores", "EditScore", new { id = item.Id })
                    @: | @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }
</table>
@if (PermissionsHelper.UserIsContestStaff())
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}


